/target
**/*.rs.bk
/data
/workspace/frequency.db
/workspace/texts.db
/workspace/scripts
/narou/frequency.db
/narou/texts.db
/narou/scripts
/novels/frequency.db
/novels/texts.db
/novels/scripts
/trash
*.html
